body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2.5em;
    width: 100%;
}

h2 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: initial;
    letter-spacing: 0.01em;
}

img {
    border-radius: 100px;
    border-style: double;
    border-color: rgb(226, 218, 218);
    box-sizing: content-box;
}
